/* common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

img {
    max-width: 100%;
}

/* utilities */
.clearfix {
    display: table;
    content: "";
    clear: both;
}

/* header */
h1 {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}