/* common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

img {
    max-width: 100%;
}

:root {
    --team-card: #0F0E17;
    --team-title: #E53170;
}
body {
    font-family: 'Baloo 2', cursive;
}

/* / comon rules */

/* utilities */
.clearfix {
    display: table;
    content: "";
    clear: both;
}

/* body */
h1, p {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

h1 {
    color: var(--team-title);
    font-family: 'Fredoka One', cursive;
}

.row {
    width: 100%;
}

.col {
    background-color: var(--team-card);
    width: calc(100% / 3 - 2rem);
    float: left;
    margin: 0 1rem 1.5rem 1rem;
    box-shadow: 0 0 5px black;

}

.col > img {
    width: 25%;
    float: left;
    margin-right: 1rem;
}

.text_card {
    float: left;
}

h3 {
    color: white;
}

.description {
    color: white;
}

.mail {
    color: rgba(0, 162, 255, 0.925);
}